
@{
    ViewBag.Title = "Home Page";
}

<br />
<br />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>
    function EditItem(item) {
        $.get("/Home/Editar", function (data) {
            $("p").html(data);
        });
    }
</script>

@if (ViewBag.TheResult == true)
{
<div class="alert alert-success">
    <strong>Transaction submitted!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}

<input type="button"
       id="NuevoRegistroBtn"
       class="btn btn-primary"
       value="New Item"
       onclick="location.href='@Url.Action("/", "NuevoRegistro")'" />

<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>id Job</th>
            <th>Job Title</th>
            <th>Description</th>
            <th>Created At</th>
            <th>Expires At</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Jobs)
        {
            <tr>
                <th scope="row">@item.idJob</th>
                <td>@item.JobTitle</td>
                <td>@item.Description</td>
                <td>@item.CreatedAt</td>
                <td>@item.ExpiresAt</td>
                <td style="text-align: center">
                    <input type="button"
                           class="btn btn-warning"
                           value="Edit"
                           onclick="location.href='@Url.Action("Index", "NuevoRegistro", new { idJob = @item.idJob, JobTitle = item.JobTitle, Description = item.Description, ExpiresAt = @item.ExpiresAt })'" />
                    
                    &nbsp;&nbsp;
                    <input type="button"
                           class="btn btn-danger"
                           value="Delete"
                           onclick="location.href='@Url.Action("Index", "Home", new { idJob = @item.idJob })'" />
                </td>
            </tr>

        }
    </tbody>
</table>
