@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
@*<button class="btn btn-primary">@Html.ActionLink("Nuevo Registro", "Index", "NuevoRegistro", new { area = ""}, null)</button>*@

@*<button class="btn btn-primary" onclick="location.href='@Html.ActionLink("Nuevo Registro", "Index", "NuevoRegistro", new { area = "" }, null)'"></button>*@
@*<input type="button" class="btn btn-primary" value="Nuevo Registro" onclick="location.href='@Url.Action("/", "NuevoRegistro", new { MaxidJob = 1 })'" />*@
<input type="button"
       id="NuevoRegistroBtn"
       class="btn btn-primary"
       value="Nuevo Registro"
       onclick="location.href='@Url.Action("/", "NuevoRegistro")'" />

<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>id Job</th>
            <th>Job Title</th>
            <th>Description</th>
            <th>Created At</th>
            <th>Expired At</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Jobs)
        {
            <tr>
                <th scope="row">@item.idJob</th>
                <td>@item.JobTitle</td>
                <td>@item.Description</td>
                <td>@item.CreatedAt</td>
                <td>@item.ExpiresAt</td>
                <td style="text-align: center">
                    <button class="btn btn-warning" onclick="Editar(@item.idJob)">Editar</button>
                    &nbsp;&nbsp;
                    <button class="btn btn-danger" onclick="Editar(@item.idJob)">Eliminar</button>
                    @*<a data-value="@item.idJob" href="javascript:void(0)" class="btnEdit">Edit</a>*@
                </td>
            </tr>

        }
    </tbody>
</table>
